body {
    margin: 0px 0px;
    height: 100%;
    padding: 0px;
}
body {
    font-family: 'Jura', sans-serif;
}

video {
    width: 100%;
    height: cover;
    top:10px;
    position: relative;
}

#key-container {
    position: absolute;
    top: 300px;
    left: 800px;
    width: 400px;
    border: 10px solid white;
    text-align: center;
    border-radius: 30px;
}
#key-container h1 {
    color: white;
    font-size: 50px;
    border: 5px solid white;
}
.key {
    height: 60px;
    width: 60px;
    background-color: grey;
    opacity: .9;
    display: inline-block;
    border: 8px solid white;
    text-align: center;
    margin: 5px;

}

header {
  position: fixed;
  height: 100%;
  right: 2%;
  top: 0%;
  border-left: 2px solid whitesmoke;
  margin-left: 5%;
  z-index: 100;
}

nav a {
  display: block;
  padding: 45% 0% 45% 20%;
  text-decoration: none;
  color: whitesmoke;
  text-shadow: 1.5px 1.5px grey;
  font-size: 25px;
}

#home {
  padding-top: 50%;
}
