
body {
    font-family: 'Jura', sans-serif;
    margin: 0px 0px;
    height: 101%;
    padding: 0px;
    

}

video {
    width: 100%;
    height: cover;
    position: relative;
}

#key-container {
    position: absolute;
    top: 300px;
    left: 600px;
    width: 400px;
    border: 10px solid #77C9D4;
    text-align: center;
    border-radius: 30px;
}

.key {
    height: 60px;
    width: 60px;
    background-color: #57BC90;
    display: inline-block;
    border: 8px solid #77C9D4;
    text-align: center;
    margin: 5px;
}

.keytwo {
    height: 60px;
    width: 60px;
    background-color: #57BC90;
    opacity: .9;
    display: inline-block;
    border: 8px solid white;
    box-shadow: 2px 2px 5px 5px #015249;
    text-align: center;
    margin: 5px;
}

.keythree {
    height: 60px;
    width: 60px;
    background-color: white;
    opacity: .9;
    display: inline-block;
    border: 8px solid #57BC90;
    box-shadow: 2px 2px 5px 5px white;
    text-align: center;
    margin: 5px;
}

#heading-container {
    position: absolute;
    top: 20px;
    left: 100px;
    color: #77C9D4;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 1.5px 1.5px white;
}

#heading-container h1 {
    font-size: 70px;
}
#heading-container h3 {
    font-size: 30px;
}

header {
position: fixed;
height: 100%;
width: 11%;
right: 0%;
top: 0%;
border-left: 2px solid whitesmoke;
padding-right: 2%;
z-index: 100;
background-color: rgba(130, 130, 130, .9);
}

nav a {
display: block;
margin: 20% 0%;
padding: 25% 0% 25% 20%;
text-decoration: none;
color: whitesmoke;
text-shadow: 1.5px 1.5px grey;
font-size: 23px;
}

nav a:hover {
text-shadow: 1.5px 1.5px mediumturquoise;
}

#home {
padding-top: 50%;
}