body {
  padding-top: 5px;
  font-family: 'Jura', sans-serif;
  text-align: center;
  margin: 0px auto;
  width: 95%;
}

#audio-player {
  width: 70%;
  height: 70%;

  margin: 0px auto;
  background-image: url("https://cdn.pixabay.com/photo/2013/07/13/12/07/record-159211_1280.png");
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center center;
  /*animation: mySpin 100s infinite;*/
}

.play-div {
    width: 15%;
    height: 15%;
    margin: .3% .3%;
    display: inline-block;
}

@keyframes mySpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinning-div {
  animation: mySpin 32s infinite;
}

