body {
  padding-top: 5px;
  font-family: 'Jura', sans-serif;
  text-align: center;
  margin: 0px auto;
  width: 70%;
  background-image: url("https://cdn.pixabay.com/photo/2013/07/13/12/07/record-159211_1280.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center center;
  animation: mySpin 100s infinite;
}

header {
  float: right;
}
#audio-player {
  width: 80%;
  margin: 0px auto;
  text-align: center;
}

.play-div {
    width: 25%;
    height: 25%;
    margin: .3% .3%;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}

@keyframes mySpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinning-div {
  animation: mySpin 32s infinite;
}

.audio-element {
  width: 200px;
  height: 200px;
  margin: .5% 4%;
  outline: 2px solid black;
}

.audio-element:hover {
  background-color: blue;
  cursor: grab;
}