body {
  padding-top: 5px;
  font-family: 'Jura', sans-serif;
  text-align: center;
  margin: 0px auto;
  width: 95%;
  background-image: url("https://0.s3.envato.com/files/221061703/Concrete-Wall-Background-Textures-21.jpg");
}

#audio-player {
  width: 95%;
  height: 95%;
  margin: 0px auto;
  padding: 100px 0px;
  background-image: url("https://cdn.pixabay.com/photo/2013/07/13/12/07/record-159211_1280.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center center;
  animation: bigSpin 90s infinite;
}

.play-div {
    width: 16%;
    height: 16%;
    margin: .3% -.5%;
    display: inline-block;
}

.record-div {
  width: 90%;
  height: 90%;
}

@keyframes mySpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes bigSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinning-div {
  animation: mySpin 32s infinite;
}

