/*DONT CHANGE THIS DOCUMENT*/
/*DONT CHANGE THIS DOCUMENT*/
/*DONT CHANGE THIS DOCUMENT*/
/*DONT CHANGE THIS DOCUMENT*/
/*DONT CHANGE THIS DOCUMENT*/
/*DONT CHANGE THIS DOCUMENT*/
/*DONT CHANGE THIS DOCUMENT*/
/*DONT CHANGE THIS DOCUMENT*/


/*home page css*/

body {
    overflow: hidden;
}
#aboutlink {
    color: white;
    width: 80px;
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 10px;
    font-family: 'Jura', sans-serif;
}

#main-container {
    height: 100vh;
    width: 100%;
    background-image: url("img/drum-background.jpg");
    font-family:'Jura', sans-serif;
}

section {
    color: white;
    width: 350px;
    margin: 40px auto;
    text-align: center;
}

h1 {
    font-size: 70px;
    font-family: 'Rationale', sans-serif;
}

#form {
    margin-top: 20px;
}
input {
    height: 40px;
    width: 190px;
    line-height: 40px;
    font-size: 25px;
    border-radius: 10px;
}

button {
    height: 40px;
    width: 70px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgba(130, 130, 130);
}

#kits {
    width: 100%;
    margin-top: 0px;
    display: inline-block;
    
}

.kit-container {
    display: inline-block;
    width: 200px;
    margin: 0px 30px;
}

.kitimage {
    height: 150px;
    width: 150px;
    border: 5px solid white;
    margin-bottom: 20px;
    border-radius: 100%;
 }

 .kit_title {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
    font-family: 'Rationale', sans-serif;
 }

/*about page css*/
#main-container2 {
    height: 100vh;
    width: 100%;
    background-image: url("img/drum-background.jpg");
    font-family:'Jura', sans-serif;
    margin: 0px;
}

 #person-main-container {
     display: inline-block;
 }
.person-container {
    width: 500px;
    display: inline-block;
    padding: 0px 50px;
}

.person-header {
    font-size: 30px;
}

.person-image {
    height: 100px; 
    width: 100px;
    border: 5px solid white;
}

.person-paragraph {
    width: 300px;
    display: inline-block;
}
#person-three {
    width: 500px;
    margin: 30px 300px;
}