/*DONT CHANGE THIS DOCUMENT*/
/*DONT CHANGE THIS DOCUMENT*/
/*DONT CHANGE THIS DOCUMENT*/
/*DONT CHANGE THIS DOCUMENT*/
/*DONT CHANGE THIS DOCUMENT*/
/*DONT CHANGE THIS DOCUMENT*/
/*DONT CHANGE THIS DOCUMENT*/
/*DONT CHANGE THIS DOCUMENT*/


/*home page css*/

body {
    overflow: auto;
    height: 1300px;
}

.anchor-link {
    display: inline-block;

}

header {
    margin: 0% 0% 0% 80%;
    width: 20%;
    padding: 3% 0% 1% 0%;
    border-radius: 10px;
}

header h3 {
    color: white;
    font-size: 25px;
    text-decoration: none;
    text-shadow: 1.5px 1.5px grey;

}

header a {
      color: white;
    font-size: 25px;
    text-decoration: none;
    text-shadow: 1.5px 1.5px grey;
    margin-left: 60%;
    margin-top: 60%;
}

a:hover {
    text-shadow: 1.5px 1.5px mediumturquoise;
}


#main-container {
    /*height: 100vh;*/
    width: 100%;
    height: 1200px;
    background-image: url("img/drum-background.jpg");
    background-size: 100%;
    background-repeat: repeat-y;
    font-family:'Jura', sans-serif;
}

section {
    color: white;
    width: 40%;
    margin: 0px auto 20px auto;
    text-align: center;
}

h1 {
    font-size: 70px;
    font-family: 'Rationale', sans-serif;
}

#form {
    margin-top: 20px;
    width: 100%;
}

input {
    height: 50px;
    width: 190px;
    line-height: 40px;
    font-size: 25px;
    border-radius: 10px;
    margin-top: 0px;
}

#submit-button {
    margin-left: 10px;
    margin-top: 0px;
    height: 55px;
    color: #fff;
    font-size: 16px;
    background-color: darkgrey;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px grey;
    text-shadow: 1px 1px black;
}

#submit-button:hover{
    background-color: dodgerblue; 
}

#submit-button:active {
    background-color: lightseagreen;
    box-shadow: 0 2px slategray;
    transform: translateY(5px);
}

#kits {
    width: 100%;
    margin-top: 0px;
}

.kitimage:hover {
    box-shadow: 0px 0px 5px 5px darkcyan;
}

#drum-pad img {
    margin-top: -10px;
}

#sample-pad p {
    margin-top: 30px;
}

#loop-pad p {
    margin-top: 45px;
}

.kit-container {
    display: inline-block;
    width: 250px;
    margin: 0px 20px;
}

.kit-container p {
    height: 300px;
}

.kitimage {
    height: 175px;
    width: 175px;
    border: 5px solid white;
    margin-bottom: 20px;
    border-radius: 100%;
 }

 .kit_title {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
    font-family: 'Rationale', sans-serif;
 }

/*about page css*/
#about-link {
    color: white;
}

#main-container2 {
    height: 100%;
    width: 100%;
    background-image: url("img/drum-background.jpg");
    background-position: top center;
    background-repeat: repeat-y;
    font-family:'Jura', sans-serif;
    margin: 0px;
}

#title {
    text-align: center;
    width: 40%;
    display: block;
    margin: 0% auto;
    color: ghostwhite;
}

#title h1 {
    padding-bottom: 2%;
}

 #person-main-container {
     width: 90%;
     margin: 2% auto;
     display: block;
     text-align: center;
 }

.person-container {
    width: 30%;
    display: inline-block;
}

.person-container p {
    height: 150px;
}

.person-header {
    font-size: 30px;
}

.person-image {
    width: 80%;
    height: 250px;
    border: 5px solid white;
    border-radius: 30%;
    margin: 3%;
}

#chris p {
    margin-top: 8px;
}

.person-paragraph {
    height: 150px;
    width: 80%;
    display: inline-block;
}

#icon-container {
    display: fixed;
    top: 0px;
    height: 60px; 
    width: 60px;
    margin: 10px 0px 30px 170px;
}

.last_icon {
    height: 60px;
    width: 60px;
    border: 5px solid white;
    border-radius: 100%;
}