body,html {
  /*position:relative;*/
  margin: 0;
  padding: 0;
  font-family: 'Jura', sans-serif;

}

#keys {
  /*position: absolute;*/
  top:0px;
  min-height: 100px;
  align-items: center;
  justify-content: center;
}
#video_element{
    /*position:absolute;*/
    top:0em;
}
.key {
    z-index:40;
  border: .4px solid black;
  border-radius: .5px;
  margin: 8px;
  font-size: 15px;
  padding: 1px .5px;
  transition: all .07s ease;
  width: 200px;
  text-align: center;
  color: white;
  background: rgba(255,0,0,1);
  text-shadow: 0 0 .5px black;
  width:100px;
  height:100px;
  float:left; 
}




