body,html {
  margin: 0;
  padding: 0;
  font-family: 'Jura', sans-serif;

}
/*#video_element{
    top:0em;
}*/
.key {
  /*z-index:40;*/
  border: .4px solid black;
  border-radius: .5px;
  margin: 8px;
  font-size: 15px;
  padding: 1px .5px;
  /*transition: all .07s ease;*/
  width: 2px;
  text-align: center;
  color: white;
  background: rgba(255,0,0,1);
  text-shadow: 0 0 .5px black;
  width:100px;
  height:100px;
  float:left; 
}
 /*{
  font-size: 1.2em;
  text-transform: ;
  letter-spacing: .1em;
  color: #ffc600;
}*/

#videoDiv {width: 100%; height: 100vh; position: relative; }
#videoBlock,#videoMessage {width: 100%; height: 100vh; position: absolute; top: 0; left: 0;}
  #videoMessage *{ border-radius:1em; }
#videoMessage {padding:0.4em; margin:7em; text-shadow: 2px 2px 2px black; color:white;z-index:99 }



