body,html {
  margin: 0;
  padding: 0;
  font-family: 'Jura', sans-serif;
}

#video_element{
    width: 100%; 
    height: 120%;   
}

.key {
  border: 5px solid black;
  border-radius: .5px;
  margin: .1%;
  font-size: 15px;
  text-align: center;
  color: white;
  background: rgba(100,200,50,0.4);
  float:left; 
  }

 .foo {
  background-color:royalblue;
}

#videoDiv {
  width: 100%; 
  height: 100%; 
  position: relative; 
  }
#videoBlock,#videoMessage {
  width: 100%;  
  position: absolute; top: 0; 
  left: 0;}
  #videoMessage *{ 
    border-radius:1em; }
#videoMessage {
  width:90%; 
  margin:8% .5% 0% 3%; 
  text-shadow: 2px 2px 2px black; 
  color:white;
  z-index:99 }

#topRow {
    margin: 0% 1%;
    height: 130px;
    clear: both;
}

#topRow .key {
  width: 7.75%;
  height: 85%;
}

#second-row {
  margin: 0% 2% 0% 6.5%;
  height: 130px;
  clear: both;
}

#second-row .key {
  width: 8%;
  height: 85%;
}

#third-row {
  margin: 0% 2% 0% 14%;
  height: 130px;
  clear: both;
}

#third-row .key {
  width: 9%;
  height: 85%;
}

header {
position: fixed;
height: 100%;
width: 11%;
right: 0%;
top: 0%;
border-left: 2px solid whitesmoke;
padding-right: 2%;
z-index: 100;
background-color: rgba(130, 130, 130, .9);
}

nav a {
display: block;
margin: 20% 0%;
padding: 25% 0% 25% 20%;
text-decoration: none;
color: whitesmoke;
text-shadow: 1.5px 1.5px grey;
font-size: 23px;
}

nav a:hover {
text-shadow: 1.5px 1.5px mediumturquoise;
}

#home {
padding-top: 50%;
}
